/*Created by Karsten Hrasna, email: Karsten_Hrasna@student.uml.edu*/
body {
    text-align: center;
}

#container {
    display: table;
    position: relative;
    width: 70%;
    height: 10%;
    float: left;
    margin-left: 15%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#stats {
    text-align: center;
    align-content: center;
    height: 60%;
}

ul {
    float: left;
    font-size: 110%;
    padding-left: 17%;
}

li {
    border: 1px solid black;
}



#tileHolder {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 50%;

}

#holder {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

table {
    border-collapse: collapse;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;

}

#remainder,
#score,
#word {
    display: inline;
    padding-left: 5%;
    font-size: 150%;
}

#container p {
    font-size: 80%;
}

td {
    border: 1px solid black;
    text-align: center;

}